*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #FAFAFA;
}
header{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: white;
    
}

.menuMobile{
    display: none !important;
    font-size: 22px;
    cursor: pointer;

}
 .menuMobile:active{
    color: gray;
    transform: scale(1.1);
} 

.iconsMobile{
    display: none;
}

header .searching{
    display: flex;
}

header .searching .search{
    padding: 8px 200px;
    text-align: right;
    border: 1px solid #80808047;
    background-color: #e8e6e62a;
    
}
header .iconsrch{
   background-color: #FF8A65;
   padding: 8px 10px;
   margin-left: 5px;
   border-radius: 5px 0px 0px 5px;
}

header .iconLogin{
    width: 100px ;
    height: 30px;
    border: 1px solid #8080805b;
    margin-right: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    color: gray;
}

.iconLogin .login{
    border-right: 1px solid #80808027; 
    padding-right: 5px;
    text-decoration: none;
    color: gray;
    display: flex;
    align-items: center;
}

.iconLogin .Register{
    text-decoration: none;
    color: gray;
    display: flex;
    align-items: center;
}

header .buy{
margin-right: 20px;
border-right: 1px solid gray;
padding-right: 20px;
cursor: pointer;
}
header .buy i:active{
    color: gray;
}
 
header i:active{
    color: gray;
}

.logo{
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

 .menu{
    display: flex;
    flex-direction: row-reverse;
    gap: 0px;
    text-decoration: none;
    margin-top: 0px;
    background-color: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.447);
}

header .dropDown .category{    
    background-color: white;
    padding: 8px 15px;
    border: 1px solid #80808029;
    cursor: pointer;
    margin-right: 118px;
    border-radius: 0px 5px 5px 0px;
    transition-duration: 0.03s;
}
.dropDown .category:hover{
    background-color: #8080802e;
}
header .dropDown{
    cursor: pointer;
    position: relative;
}
header .dropDown .subMenu {
    display: none;
    position: absolute;
    width: 120px;
    padding: 0px 0px;
    left: -20px;
    top: 25px;
    background-color: rgba(236, 236, 236, 0.673);
    border-radius: 7px;
    text-align: center;
    border: 1px solid #8080803f;
    transition-duration: 0.03s;
}
header .dropDown:hover .subMenu{
    display: block;
}

header .dropDown .subMenu a{
    display: block;
    text-decoration: none;
    padding: 10px 30px;
    border-bottom: 1px solid #c8c2c2da;
    color: gray;
}
header .dropDown .subMenu a:hover{
    background-color: white;
}
.menu .aboutUs{    
    text-decoration: none;
    color: black;
    padding: 15px;
}
.menu .contact-Us{    
    text-decoration: none;
    color: black;
    padding: 15px;
}
.banner{
    position: relative;
}
.menu .blog{    
    text-decoration: none;
    color: black;
    padding: 15px;
}
.menu :hover{
   color: gray;
    
}
.iconSlider{
    position: relative;
}
 .iconSlider .BtnLeft{
    position: absolute;
    top: 220px;
    background-color: white;
    z-index: 999;
    padding: 10px 12px;
    border-radius: 50px;
    margin-left: 5px;
    cursor: pointer;
}

.iconSlider .BtnLeft:active{
    background-color: #c0bfbf;
   
}

.iconSlider .BtnRight{
    position: absolute;
    top: 220px;
    background-color: white;
    z-index: 999;
    padding: 10px 12px;
    border-radius: 50px;
    margin-left: 5px;
    right: 9px;
    cursor: pointer;
}
.iconSlider .BtnRight:active{
    background-color: #c0bfbf;
    
}

.banner img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.container .cards .textVidio{
   margin-top: 60px;
   border-bottom:1px solid #80808047;
   padding-bottom: 8px;
   padding-left: 10px;
   
}
.container .cards .vidios{
    display: flex;
    justify-content: center;
    margin: 0px auto;
    flex-wrap: wrap
}
.container .cards .vidios .cardCamera1{
    overflow: hidden;
    width: 200px;
    height: 250px;
    border: 1px solid #8080805e;
    box-shadow: 0px 0px 0px 0px;
    border-radius: 5px;
    margin: 10px 20px;
}

.cards .vidios .cardCamera1 .imgCard{
    width: 100%;
    height: 115px;
    object-fit: cover;

}
.cards .vidios .cardCamera1 .videoTxt{
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
}
.cards .vidios .cardCamera1 .videoDescription{
    padding: 10px 5px;
    color: gray;
    
}
.cards .vidios .cardCamera1 .viewLike{
    border-top: 1px solid #80808030;
    padding: 10px 5px;
    color: #808080a9;
    display: flex;
    justify-content: space-between;
}
.vidios .cardCamera1 .view{
  display: flex;
  font-size: 12px;
  padding-top: 5px;
}

.vidios .cardCamera1.like{
    display: flex;
    font-size: 14px;
    padding-top: 5px;
    cursor: pointer;
  }
  
  .iconSlider .BtncardLeft{
    position: absolute;
    top: 120px;
    background-color: #42A5F5;  
    z-index: 999;
    padding: 10px 12px;
    border-radius: 50px;
    margin-left: 20px;
    cursor: pointer;
}

.iconSlider .BtncardLeft:active{
    background-color: #c0bfbf;
   
}

.iconSlider .BtncardRight{
    position: absolute;
    top: 120px;
    background-color: #42A5F5;
    z-index: 999;
    padding: 10px 12px;
    border-radius: 50px;
    right: 20px;
    cursor: pointer;
}
.iconSlider .BtncardRight:active{
    background-color: #c0bfbf;
    
}
  .vidios .cardCamera1 .like:active{
    color: #e53935;
  }
@media screen and (max-width:1200px) {

    .menuMobile{
        display: block !important;
        margin-right: 10px;
     }
     .menu{
        display: flex;
        justify-content: center;
     }
       
     header .searching .search{
        padding: 8px 70px;
        border: 1px solid #80808047;
        background-color: #e8e6e62a; 
    }
    .dropDown{
        display: none !important;
    }

    .iconLogin{
      display: block;
    }
  
    .container .banner .iconAngle2{ 
        position: absolute;
        margin: -250px 425px;
        overflow: hidden;
        color: white;
        
    }

    .iconSlider .BtncardRight{
        display: none;
    }
    .iconSlider .BtncardLeft{
        display: none;
    }
}
